<h1>Houses index</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<ul>
	<% @houses.each do |house| %>
		<li/><%= link_to house.name, house_path(house.id) %></li>
	<% end %>	
</ul>

<div><%= link_to 'Add New House', '/houses/new' %></div>